<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buscador de Reddit</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <style media="screen">
      .navbar {
        background-color: rgba(255, 123, 0, 0.877) !important;
      }

      .result {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      form {
        margin: 0 auto;
      }

      input, select, button {
        margin: 0 20px;
      }

      .loader {
          border: 16px solid #f3f3f3; /* Light grey */
          border-top: 16px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 120px;
          height: 120px;
          animation: spin 2s linear infinite;
      }

      img {
        width: auto;
        height: 70px;
      }

      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }
    </style>

    <nav class="navbar navbar-light bg-light">
      <img src="http://www.freepngimg.com/download/reddit/8-2-reddit-png-file.png" alt="" class="navbar-brand">
      <form class="form-inline" action="http:///redditsearchbd2.herokuapp.com/search" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="texto">
        <label  for="tiempo">Filtro: </label>
        <select class="form-control" name="tiempo">
          <option value="all">Todos</option>
          <option value="hour">Hora pasada</option>
          <option value="day">Últimas 24 horas</option>
          <option value="week">Semana pasada</option>
          <option value="month">Mes pasado</option>
          <option value="year">Año pasado</option>
        </select>
        <label  for="likes">Likes: </label>
        <select class="form-control" name="likes">
          <option value="">Todos</option>
          <option value="10_likes">Más de 10 likes</option>
          <option value="50_likes">Más de 50 likes</option>
          <option value="100_likes">Más de 100 likes</option>
          <option value="1000_likes">Más de 1000 likes</option>
          <option value="10000_likes">Más de 10000 likes</option>
          <option value="50000_likes">Más de 50000 likes</option>

        </select>
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="result text-center">
      <h1>{{ dist }}</h1>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
